<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>John Pittenger | Web Developer</title>
  {{ style('bootstrap') }}
  {{ style('prism') }}
  {{ style('main') }}
</head>
<body class="bg-dark">
  @!section('content')
  
  {{ script('prism') }}
  {{ script('bootstrap') }}
</body>
</html>
