@layout('layout')

@section('content')
   <div class="container text-light">
      <h1 class="text-light mb-2 mt-5">{{ post.title }}</h1>
      <p class="blog-details__date mb-4">
         {{ date }}
      </p>
         <div class="blog-details__content">{{{ postMarkdown }}}</div>
   </div>
@endsection



